#replies {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  min-height: 100vh;
  min-width: 360px;
  background: white;

  #content {
    width: 80%;
  }

  #reply-wrapper {
    display: inline-block;
    width: calc(100% - 360px);
    margin: 31px 0 30px;
  }

  @media (max-width: 1200px) {
    #reply-wrapper {
      width: 100%;
      margin-top: 20px;
    }
  }
  @media (max-width: 500px) {
    #content {
      width: 100%;
    }
  }
}
