.loading {
  font-family: "Montserrat", sans-serif;
  position: relative;
  margin: 80px auto 0;
  font-size: 24px;
  font-style: italic;
  color: rgb(201, 201, 201);
  animation-name: bounce;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-direction: alternate;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes bounce {
  from {
    top: 0;
    opacity: 1;
  }
  to {
    top: 10px;
    opacity: 0.5;
  }
}
