@import "~bootstrap/scss/bootstrap";

.modal-dialog {
  margin-top: 30vh;
  max-width: 400px;
}

.modal-content {
  text-align: center;
  font-size: 18px;
  border-radius: 12px;
  border: none;
  padding-top: 20px;
}

.modal-footer {
  justify-content: center;
  border-top: none;
  padding-bottom: 20px;
}

.modal-backdrop {
  min-width: 360px;
  height: 100%;
  background-color: grey;
}

.cancel-button {
  background-color: #a0a0a0;
}
