.form-wrapper {
  display: flex;
  width: 360px;
  background: rgb(223, 223, 223);
  float: right;
  flex-direction: column;
  margin-top: 31px;
  border-radius: 12px;
  border: solid rgba(0, 0, 0, 0.1) 3px;
  box-sizing: border-box;
  transition: 500ms;

  -webkit-animation: fadein 1000ms;
  -moz-animation: fadein 1000ms;
  -ms-animation: fadein 1000ms;
  -o-animation: fadein 1000ms;
  animation: fadein 1000ms;

  h2 {
    text-align: center;
    font-size: 24px;
    margin-top: 4px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
  }

  .form-input {
    width: calc(100% - 20px);
    margin: 10px;
    box-sizing: border-box;
    resize: none;
    font-family: sans-serif;
    font-size: 18px;
    padding: 4px;
  }

  .file-upload {
    font-size: 16px;
    margin: 10px;
    margin-top: 0;
  }

  .remove-image {
    .remove-image-button {
      margin: 0 10px;
      background-color: rgb(221, 221, 221);
      border: solid 1px rgb(160, 160, 160);
      padding: 2px 6px;
    }
    .remove-image-button:hover {
      background-color: rgb(207, 207, 207);
    }

    .image-removed-text {
      font-size: 18px;
      background-color: rgba(0, 0, 0, 0);
      // background-color: royalblue;
      border-radius: 8px;
      padding: 2px 8px;
      color: rgba(0, 0, 0, 0);
      // color: white;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .image-removed-text[animation="visible"] {
      animation: reveal 2s 1;
    }
    @keyframes reveal {
      30% {
        color: black;
        background-color: rgb(237, 245, 235);
      }
      70% {
        color: black;
        background-color: rgb(237, 245, 235);
      }
    }
  }

  .button {
    font-size: 18px;
    padding: 4px 0;
    width: calc(100% - 20px);
    margin: 10px;
    background-color: rgb(245, 245, 245);
    border: solid 1px grey;
    border-radius: 6px;
  }
  .clear-button {
    margin-top: 0;
    background-color: rgb(221, 221, 221);
    border: solid 1px rgb(160, 160, 160);
  }
  .button:hover {
    background-color: rgb(231, 231, 231);
  }
  .clear-button:hover {
    background-color: rgb(207, 207, 207);
  }
}

.form-edit {
  background: rgb(170, 170, 170);
}

@media (max-width: 1200px) {
  .form-wrapper {
    width: 100%;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
